<section id="masajes" class="content">
  <div class="container">
    <!-- EDITAR -->

    <h1>Mis Masajes</h1>
    <p>Me especializo en masajes descontracturantes, a los que combino con estiramientos y algunas técnicas de shiatzu.</p>
    <p>Mis sesiones son de 90 minutos. Es el tiempo que necesito para trabajar todo el cuerpo, y dedicarle el tiempo necesario a las contracturas para poder resolverlas.</p>
    <p>Creo que es muy difícil conseguir un verdadero alivio a la persona que tiene una contractura o una dolencia, en las habituales sesiones de entre 45 y 50 minutos que se realizan en spas y centros de masajes.</p>
    <p>Como profesional, siento un compromiso con la salud de mis pacientes y mi objetivo es que salgan de la sesión sintiendo una mejoría real.</p>
    <p>De la sesión de masajes, también vas a llevarte ejercicios, recomendados de acuerdo a la problemática de cada persona, para que puedas seguir mejorando más allá del masaje.</p>

    <!-- EDITAR -->
  </div>
</section>
