<section id="turnos" class="content">
  <div class="container">
    <!-- EDITAR -->
    <h1>Turnos</h1>
    <p>Mis sesiones son de 90 minutos. Es el tiempo que necesito para trabajar todo el cuerpo, y dedicarle el tiempo necesario a las contracturas para poder resolverlas.</p>
    <div class="cf">
      <div class="details">
        <p>Zona Dorrego y Salta</p>
        <p><b>Teléfono:</b>  (341) 240-0663</p>
        <p><b>Celular:</b> (11) 4973-9711</p>
        <p><b>Whatsapp:</b> +549114973-9711</p>
      </div>
      <div class="map">
        <img src="assets/img/map.png" loading="lazy" alt="Zona Dorrego y Salta">
      </div>
    </div>
    <!-- EDITAR -->
  </div>
</section>
