section.home-mobile {
  background: $grey-borders;
  text-align: center;
  padding: 20px 20px;
  h1 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 28px!important;
    margin-bottom: 20px;
  }
  h2 {
    padding: 0 20px 10px;
  }
  h3 {
    margin: 10px 0;
    padding: 0 20px 10px;
    a {
      padding: 10px 15px;
      background: $affirmative;
      @include montserrat-bold($full-white, 18px);
      line-height: 26px!important;
      text-transform: uppercase;
      width: auto;
      display: inline-block;
      border-radius: 8px;
      text-decoration: none;
      cursor: pointer;
      text-shadow: 1px 1px 1px $shadow;
    }
  }
  @media #{$tablet} {
    display: none;
  }
}