section#trayectoria {
  .tiempo {
    @media #{$desktop}{
      width: 50%;
      float: left;
      margin-top: 40px;
    }
    p.cf {
      margin-bottom: 40px;
    }
    span {
      background: $blue;
      padding: 2px 6px;
      @include montserrat-bold($full-white, 12px);
      border-radius: 8px;
      display: inline-block;
      width: auto;
      margin-bottom: 10px;
      @media #{$desktop}{
        float: left;
      }
    }
    small {
      display: block;
      @media #{$desktop}{
        float: right;
        width: 80%;
      }
    }
  }
  .fotos {
    display: none;
    @media #{$desktop}{
      display: inline-block;
      width: 50%;
      float: right;      
      img {
        width: 100%;
        margin: 0 auto 40px;
      }
    }
  }
}