section#turnos {
  .map {
    img {
      width: 100%;
    }
  }
  @media #{$desktop}{
    .details {
      width: 40%;
      float: left;
    }
    .map {
      width: 50%;
      float: right;
      img {
        border: 3px solid $full-white;
        box-shadow: 0 0 10px $shadow;
      }
    }
  }
}